body {
    background-image: url(nintendo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Three ways to color */
.container {
    /* Gradient */
    /* background: linear-gradient(to right, #80ccff, #b3f0ff);
    box-shadow: 3px 5px 3px black; */
}

h1 {
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
}

h2 {
    color: rgb(8, 204, 255);
    text-shadow: 1px 1px 3px darkblue;
}

.borderImg {
    border: 2px dashed red;
    width: 250px;
}

/* the > means only one level deep */
ul > li {
    color: yellow;
}


/* ul is the parent and li is the child */
/* ul li {
    color: red;
    font-size: 20px
} */