body {
  /* background-image: url(nintendo.jpg); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */

  background-color: #444;
  text-align: center;
}

h1 {
  color: #ffffff;
  line-height: 2rem;
  font-family: "Indie Flower", serif, sans-serif;
}

h2 {
  color: #ffffff;
  line-height: 2rem;
  font-family: "Shadows Into Light", serif, sans-serif;
}

h3 {
  color: #ffffff;
  line-height: 2rem;
  font-family: "Swanky and Moo Moo", serif, sans-serif;
}

.formatting {
  font-size: 25px;
  line-height: 2em;
  color: white;
}

/* anchor tag */
a {
  text-decoration: none;
  font-size: 20px;
  color: yellow;
  word-spacing: 10px;
  text-transform: uppercase;
}

/* Link image */
.borderImg {
  border: 2px dashed red;
  width: 250px;
}

/* ul is the parent and li is the child */
ul li {
  color: red;
  font-size: 20px;
}

/* the > means only one level deep / immediate children*/
ul > li {
  color: green;
}
